project/data/mapXML/mapDTD.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT map (information , entities , items?)>
<!ATTLIST map name CDATA #IMPLIED>

<!-- Map info -->
<!ELEMENT information (spawn+ , gravity , cameraBound , sky)>
<!ELEMENT spawn (vecteur,usable)>
<!ATTLIST spawn spawnperso (false|true) true>

<!ELEMENT gravity (vecteur)>
<!ELEMENT cameraBound EMPTY>
<!ATTLIST cameraBound x CDATA #REQUIRED y CDATA #REQUIRED z CDATA #REQUIRED w CDATA #REQUIRED>
<!ELEMENT sky (vecteur, vecteur)>

<!-- Entities-->
<!ELEMENT entities (entity|plateform|mesh|text)*>
<!ELEMENT entity (entities?)>
<!ATTLIST entity name CDATA #IMPLIED>
<!ELEMENT plateform (vecteur , vecteur, entities?)>
<!ATTLIST plateform name CDATA #IMPLIED>
<!ELEMENT mesh (vecteur, vecteur, vecteur, entities?)>
<!ATTLIST mesh name CDATA #IMPLIED>
<!ATTLIST mesh src CDATA #REQUIRED>
<!ELEMENT text (vecteur, vecteur, entities?)>
<!ATTLIST text name CDATA #IMPLIED>
<!ATTLIST text content CDATA #REQUIRED>
<!ATTLIST text font CDATA #REQUIRED>

<!-- Misc -->
<!ELEMENT vecteur EMPTY>
<!ATTLIST vecteur w CDATA #IMPLIED x CDATA #REQUIRED y CDATA #REQUIRED z CDATA #IMPLIED use CDATA #IMPLIED >
<!ELEMENT fichier (#PCDATA)>

<!-- Items allowed -->
<!ELEMENT usable (vecteur,gun,melee,autre)*>

<!ELEMENT gun>
<!ATTLIST gun    weight CDATA #REQUIRED
				 pathSprite CDATA #REQUIRED
				 handPosL CDATA #REQUIRED
				 handPosR CDATA #REQUIRED
				 soundPickup CDATA #REQUIRED
				 fireRate CDATA #REQUIRED
				 uses CDATA #REQUIRED
				 animPath CDATA #REQUIRED
				 warmupDuration CDATA #REQUIRED
				 soundWarmup CDATA #REQUIRED
				 bangSound CDATA #REQUIRED
				 noAmmoSound CDATA #REQUIRED
				 bulletType CDATA #REQUIRED
				 bulletSpeed CDATA #REQUIRED
				 damage CDATA #REQUIRED
				 cannonLength CDATA #REQUIRED
				 recoil CDATA #REQUIRED
				 thrust CDATA #REQUIRED
				 size CDATA #REQUIRED
				 proba CDATA #REQUIRED>

<!ELEMENT melee>
<!ATTLIST melee  weight CDATA #REQUIRED
				 pathSprite CDATA #REQUIRED
				 handPosL CDATA #REQUIRED
				 handPosR CDATA #REQUIRED
				 soundPickup CDATA #REQUIRED
				 fireRate CDATA #REQUIRED
				 uses CDATA #REQUIRED
				 animPath CDATA #REQUIRED
				 warmupDuration CDATA #REQUIRED
				 soundWarmup CDATA #REQUIRED
				 bangSound CDATA #REQUIRED
				 noAmmoSound CDATA #REQUIRED
				 damage CDATA #REQUIRED
				 size CDATA #REQUIRED
				 proba CDATA #REQUIRED>
				 
<!ELEMENT autre>
<!ATTLIST autre>
				

