project/data/mapXML/mapDTD.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT map (information , entities*)>
<!ELEMENT information (spawn+ , gravity , cameraBound , sky)>
<!ELEMENT sky (vecteur , vecteur)>
<!ELEMENT entities (plateform*, weapon*)>
<!ELEMENT spawn (vecteur)>
<!ELEMENT gravity (vecteur)>
<!ELEMENT cameraBound EMPTY>
<!ATTLIST cameraBound x CDATA #REQUIRED y CDATA #REQUIRED z CDATA #REQUIRED w CDATA #REQUIRED>
<!ELEMENT plateform (vecteur , vecteur)>
<!ELEMENT weapon (vecteur, vecteur)>
<!ELEMENT vecteur EMPTY>
<!ATTLIST vecteur x CDATA #REQUIRED y CDATA #REQUIRED z CDATA #IMPLIED use CDATA #IMPLIED >
<!ELEMENT fichier (#PCDATA)>
